*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}
.navbar{
    height: 60px;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px;
}

.menu-bar{
    display: flex;              
    gap: 25px;                  
    align-items: center;
}

.menu-bar li{
    list-style: none;
}

.menu-bar a{
    text-decoration: none;
    margin-right: 15px;
    transition: 0.3s ease;     
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px 12px;
    
}
a:hover{
   background: #f2b705; 
    color: black;
}

/* LOGO */
.nav-logo{
    height: 50px;
    width: 150px;
}

.logo{
    background-image: url(logo-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    height: 50px;
    width: 100%;
}

/* SEARCH */
.search{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.search-input{
    height: 30px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1rem;
    border: none;
     border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.search-icon{
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(248, 140, 40);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}
.search-icon:{
    border: 2px solid rgb(255, 255, 255);
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url("main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;                 
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.45);
}

/* content */
.hero-content{
    position: relative;  
    text-align: center;
    color: white;
    max-width: 600px;
}

.hero-content h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-content p{
    font-size: 18px;
    margin-bottom: 25px;
}

/* button */
.hero-btn{
    display: inline-block;
    padding: 14px 35px;
    background: #f2b705;        
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    transition: 0.3s ease;
}

.hero-btn:hover{
    background: white;
    color: black;
}


